.Slider {
  width: 500px;
  margin: 30px auto;
}
.slides {
  overflow: hidden;
  display: flex;
  margin-bottom: 2em;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 10px 10px 28px -11px rgba(0, 0, 0, 0.75);
}
.slides img {
  min-width: 500px;
  max-height: 400px;
}
.slide {
  animation: slide 1s ease-in;
}
.slide-caption {
  font-size: 1.5em;
  padding: 0.5em 0;
}
.btns {
  display: flex;
  justify-content: space-around;
}
.btn {
  background: #0077c2;
  font-size: 1.5em;
  padding: 0.5em 1.2em;
  border: 1px solid #80d6ff;
  border-radius: 5px;
}

.slide-animation {
}

@keyframes slide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
